<h3>
    Courses
</h3>
<hr>
<div>
    <div class="row">
        <div class="form-group row justify-content-md-center">
            <div class="col-sm-6">
                <input type="text" name='course' id="course" class="form-control" placeholder="Course Title" [(ngModel)]="course.title">
                <input type="checkbox" class="form-control-check" [(ngModel)]="course.availability">
                <button type="button" class="form-control btn" (click)='onClick()'> {{course.id ? 'Edit' : 'Add'}} </button>
            </div>
    
        </div>
    </div>
    <app-courses-list [courses]='coursesArr' (editEvent)="onEditEvent($event)"></app-courses-list>
</div>